<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
</head>
<body>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      new Vue({
        el : '#app',
        data : {
          myArray : dataList,
          objArray : [
            {name : '슈크림빵', price : 1000},
            {name : '단팥빵', price : 1200},
            {name : '크로와사', price : 1500}
          ]
        }
      })
    });
  </script>
  <div id="app">
    <ul>
      <h3>배열을 이용한 for 디렉티브</h3>
      <li v-for="item in myArray">{{ item }}</li>
    </ul>
    <h3>객체로 값을 구성한 배열을 이용한 for 디렉티브</h3>
    <li v-for="item in objArray">{{ item.name }} | {{ item.price }}</li>
  </div>
</body>
</html>